# ===========================
# Pre-commit configuration
# ===========================
exclude: ^template

repos:
  - repo: local
    hooks:
      # ---------------------------
      # Pixi environment updater
      # ---------------------------
      - id: pixi-install
        name: Pixi Install Environments
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false

      # ---------------------------
      # Python code linting & formatting
      # ---------------------------
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        exclude: ^template
        language: system
        types_or: [python, pyi]
        require_serial: true
        always_run: true

      - id: ruff-format
        name: Ruff Format
        entry: pixi run -e lint ruff format --force-exclude
        exclude: ^template
        language: system
        types_or: [python, pyi]
        require_serial: true
        always_run: true

      # ---------------------------
      # Markdown/YAML formatting
      # ---------------------------
      - id: prettier
        name: Prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
        always_run: true
